<div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Book Meeting Room</h6>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  
        <div class="row">
            <div class="col">
                <div class="col margin-bottom-10">
                    <label>Location</label>
                    <select class="form-control"[(ngModel)]="meetingLocation"  (change)="selectLocation(meetingLocation)">
                    <option [value]="location.id" *ngFor="let location of dropDownValues">{{location.name}}</option>
                    </select>
                </div>
                
                <div class="col margin-bottom-10">
                        <label>Rooms</label>
                        <select class="form-control"[(ngModel)]="meetingRoom"  (change)="selectLocation(meetingLocation)">
                        <option [value]="room.id" *ngFor="let room of meetingRooms">{{room.name}}</option>
                        </select>
                    </div>
                    
                <!-- <div class="col margin-bottom-10">
                        <label>Meeting Room</label>
                        <select class="form-control" formControlName="countryControl">
                        <option [value]="location.id" *ngFor="let room of meetingRooms">{{room}}</option>
                        </select>
                    </div> -->
                <div class="col margin-bottom-10">
                    <label>Subject</label>
                    <input type="text" class="form-control" name="meetingSubject" ng-model="meeting.subject"
                        placeholder="Subject" id="meetingSubject" required />
                </div>
                <div class="col">
                    <label>Attendees</label>
                    <input type="text" class="form-control" name="attendee" ng-model="meeting.attendees"
                        placeholder="example.accionlabs.com" id="attendee" required />
                </div>
            </div>
            <div class="col">
                <full-calendar #calendar defaultView="timeGridDay" [plugins]="calendarPlugins" [events]="eventSource"
                    (dateClick)="handleDateClick($event)" deepChangeDetection="true">
                </full-calendar>
            </div>
        </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="bookMeetingRoom()">Save</button>
</div>